// This file is purely for imports.

@import "_variables.scss";
@import "_config.scss";
@import "_mixins.scss";

// Vendor
@import "vendor/qtip2.scss";
@import "vendor/select2.scss";
@import "vendor/font-awesome.scss";

// Video player
@import "video-player/video-player.scss";
@import "video-player/video-player-bar.scss";
@import "video-player/seekbar-tooltip.scss";

// Annotator
@import "annotator/annotator.scss";
@import "annotator/session-modal.scss";

// Web imports
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";