p {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    /*display: inline-block;
    max-width: 100%;
    width: 100%;*/
}

video {
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    max-width: 100%;
}