// Container for the whole app
.annotator-container {
    position: relative;
    height: auto;
    display: inline-block;
}

// Overlay that holds all the polygons
.annotator-video-overlay {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: $base-z + 7;
    pointer-events: none;

    @if ($debug){
        background-color: rgba(221, 121, 121, 0.3);
    }

    // Polygon styling
    .annotator-overlay-poly {
        position: absolute;
        background-color: rgba(0, 118, 255, 0.55);
        width: 100%;
        height: 100%;
        pointer-events: all;
    }
}

// Overlay that holds the polygon editor (minus the toolbar)
.annotator-edit-overlay{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: $base-z + 8;
    pointer-events: none;

    //@if ($debug){
        background-color: rgba(121, 221, 121, 0.3);
    //}

    // Editor polygon lives next to the overlay
    + .annotator-edit-poly {
        position: absolute;
        background-color: rgba(255, 118, 0, 0.55);
        width: 100%;
        height: 100%;
        z-index: $base-z + 9;
        pointer-events: none;
        //mix-blend-mode: overlay;
        //background-blend-mode: overlay;
    }
}

.annotator-tickbar {
    position: absolute;
    display: block;
    cursor: pointer;
    width: 100%;
    height: 5px;
    top: -15px;
    left: 0;
    //pointer-events: none;
    
    background-color: rgba(0, 0, 0, 0);

    @if ($debug){
        background-color: rgba(255, 0, 0, 255);
    }

    .annotator-tickbar-tick {
        position: absolute;
        width: 2px;
        height: 100%;
        opacity: 0.75;
        
        background-color: rgba(0, 255, 49, 0.78);
    }
}

.annotator-info {
    position: relative;
    background-color: rgba(121, 121, 221, 0.3);
    width: 100%;
    //height: auto;
    min-height: 15em;
    max-height: 15em;
    //margin-top: 10px;
    overflow-y: scroll;

    p {
        margin: 0px;
        padding: 10px;
    }
}

.annotator-debug-controls {
    position:relative;
    background-color: rgba(121, 221, 121, 0.3);
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > * {
        margin: 5px 5px 5px 5px;
    }


}


// POST interface

.annotator-vp-post {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 5px;
	opacity: 1;
/*    height: 30px;*/
	transition: opacity .3s;
    background-color: rgba(52, 52, 52, 0.67);
    cursor: default;
    z-index: $base-z + 20;

    .ui-field-contain {
        padding-left: 5px;
        padding-right: 5px;
    }

    textarea {
        $top_offset: 0px;
        height: 25px - $top_offset;
        resize: vertical;
        padding-top: 5px + $top_offset;
        //padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        //padding: 0px;
        font: menu;
        font-size: 16px;
    }

    label {
        font-family: Verdana, Geneva, sans-serif;
        color: #ffffff;
        user-select: none;
        font-size: 0.8em;
        padding-right: 5px;
    }

    input {
        font-size: 0.8em;
    }
}

.annotator-vp-click-surface {
    z-index: $base-z + 8;
    pointer-events: auto;
    // box-shadow: inset 0 0 0px 1px rgb(255, 0, 0);
    // background-color: #FFF; //Should be invisible.

    .breadcrumb {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background: #ccc;
        // background: rgba(204, 204, 204, 0);
        border: 1px solid #000;
        margin: 0px;
        padding: 0px;
    }
}

// Gives a button a 2-color Material kind of look
@mixin accent-button($fg-color, $bg-color) {
    border-color: $bg-color;
    background-color: $bg-color;
    color: $fg-color;

    &:hover {
        color: $bg-color;
    }
}

.annotator-cancel-button {
    @include accent-button(#FFFFFF, #F44336);
}

.annotator-confirm-button {
    @include accent-button(#FFFFFF, #8BC34A);
}

.annotator-message-overlay {
    position: absolute;
    background-color: rgba(52, 52, 52, 0.95);
    width: 30%;
    height: 30%;
    margin: auto;
    top: 35%;
    left: 35%;
    z-index: $base-z + 100;
    pointer-events: none;
    border-radius: 15px;

    p {
        color: white;
        vertical-align: middle;
        text-align: center;
    }
}