.annotator-seekbar-tooltip {
    background-color: rgba(0.0, 0.0, 0.0, 0.7);
    width: auto;
    height: auto;
    left: 0px;
    top: 0px;
    position: absolute;
    
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;

    p {
        color: white;
        text-align: center;
        vertical-align: middle;
        opacity: 1.0;
    }
}