$bar-bg-color: #e2e2e2; //rgba(52, 52, 52, 0.67);
$bar-text-color: #575757; //#ffffff;

.video-player-toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    opacity: 0;
    background-color: $bar-bg-color;
    cursor: default;
    vertical-align: middle;

    p {
        display: inline;
        vertical-align: middle;
        margin: 0px;
        margin-left: 5px;
        margin-right: 5px;
        font-family: Verdana, Geneva, sans-serif;
        color: $bar-text-color !important;
        user-select: none;
    }

    .ui-button{
        font-size: 11px;
    }
    // .ui-button:active:focus {
    //     outline: none;
    // }
    // .ui-button-text-only .ui-button-text {
    //     padding: .1em .6em .2em;
    // }

    #volume-bar {
        width: 100px;
        height: 5px;

    /*    display: inline-block;*/
    /*    vertical-align: middle;*/
        
        margin-left: 10px;
        margin-right: 10px;

        .ui-slider-range { 
            /* Background color for volume slider */
            background: rgb(0, 177, 255); 
        }
    }

    #volume-handle {
    /*    vertical-align: middle;*/
        
    /*    12 width, -6 margin left*/
        width: 8px; 
        margin-left: -4px;
        
        height: 16px;
        margin-top: -2px;
    }

    #seek-bar {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        border-radius: 0;
        
        position: absolute;
        display: block;
        cursor: pointer;
        width: 100%;
        height: 10px;
        top: -10px;
        left: 0;
        
    /*    background-color: rgb(232, 248, 255);*/
    }

    #seek-fill {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        border-radius: 0;
        
        position: absolute;
        display: block;
        cursor: pointer;
        width: 0%;
        height: 10px;
        top: -10px;
        left: 0;
        
        background-color: rgb(0, 177, 255);
        
        pointer-events: none;
        
    /*    Animation for width changes. Not really helpful yet. */
    /*    transition: width 1.1s;*/
    }


    #seek-handle {
        width: 0.5em;
        vertical-align: middle;
        
        width: 12px; 
        margin-left: -6px;
        visibility: hidden;
    }
}

.flex-toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-toolbar * {
/*    Vertical align flexboxes*/
    margin-top: auto;
    margin-bottom: auto;
}